#main {
    display: grid;
    grid-template-areas: 
    "header"
    "image"
    "content"
    "footer";
    background-color: darkgray;
    margin: 1rem;
    border-radius: 0.5rem;
}

header {
    grid-area: header;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 0.5rem;
}

header > p{
   text-align: center;
}

footer {
    grid-area: footer;
    background-color: darkgray;
    padding: 1rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

ul > li {
    padding: 0.5rem   ;
}


#img-div {
    grid-area: image;
    background-color:ghostwhite;
    padding: 1rem;
    margin: 1rem;
}

#img-caption{
    padding: 1rem;
}

#content {
    grid-area: content;
    background-color:darkgray;
    padding: 1rem;
    width: 50%;
    justify-self: center;
}

@media(max-width: 700px){
    #content {
        width: 85%;
    }
}

img {
    max-width: 100%;
    height: auto;
}

